<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SatisfactoryCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SatisfactoryCalculator.Properties.Settings>
            <setting name="UeModelExportDirectory" serializeAs="String">
                <value>C:\Program Files (x86)\umodel_win32\UmodelExport</value>
            </setting>
            <setting name="DocsFilePath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Satisfactory\CommunityResources\Docs\Docs.json</value>
            </setting>
        </SatisfactoryCalculator.Properties.Settings>
    </userSettings>
    <connectionStrings>
        <add name="DataFile"
             connectionString="Data Source = |DataDirectory|\Data.db"
             providerName="Microsoft.Data.Sqlite"/>
        <add name="ImageDirectory"
             connectionString="|DataDirectory|\Images\"
             providerName="Microsoft.Data.Sqlite"/>
    </connectionStrings>
</configuration>